In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
from tensorflow import keras
from tensorflow.keras import models, layers, datasets
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [2]:
df = pd.read_csv('Churn_Modelling_Bank.csv')

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df.dtypes

RowNumber            int64
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [5]:
df.drop(['Surname','RowNumber','CustomerId'], axis=1, inplace=True)

In [6]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
df.dtypes

CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [8]:
df = pd.get_dummies(df, columns = ['Geography','Gender'])

In [9]:
df.columns

Index(['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited', 'Geography_France',
       'Geography_Germany', 'Geography_Spain', 'Gender_Female', 'Gender_Male'],
      dtype='object')

In [10]:
df.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,0,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1,1,0

In [11]:
df.columns

Index(['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited', 'Geography_France',
       'Geography_Germany', 'Geography_Spain', 'Gender_Female', 'Gender_Male'],
      dtype='object')

In [12]:
col_to_scale = ['CreditScore','Age', 'Balance','EstimatedSalary']

In [13]:
from sklearn.preprocessing import MinMaxScaler

In [14]:
sc = MinMaxScaler()

In [15]:
df[col_to_scale] = sc.fit_transform(df[col_to_scale])

In [16]:
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,0.538,0.324324,2,0.000000,1,1,1,0.506735,1,1,0,0,1,0
1,0.516,0.310811,1,0.334031,1,0,1,0.562709,0,0,0,1,1,0
2,0.304,0.324324,8,0.636357,3,1,0,0.569654,1,1,0,0,1,0
3,0.698,0.283784,1,0.000000,2,0,0,0.469120,0,1,0,0,1,0
4,1.000,0.337838,2,0.500246,1,1,1,0.395400,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.842,0.283784,5,0.000000,2,1,0,0.481341,0,1,0,0,0,1
9996,0.332,0.229730,10,0.228657,1,1,1,0.508490,0,1,0,0,0,1
9997,0.718,0.243243,7,0.000000,1,0,1,0.210390,1,1,0,0,1,0
9998,0.844,0.324324,3,0.299226,2,1,0,0.464429,1,0,1,0,0,1
9999,0.884,0.135135,4,0.518708,1,1,0,0.190914,0,1,0,0,1,0

In [17]:
df.columns

Index(['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited', 'Geography_France',
       'Geography_Germany', 'Geography_Spain', 'Gender_Female', 'Gender_Male'],
      dtype='object')

In [23]:
x = df.drop('Exited', axis=1)

In [24]:
y = df['Exited']

In [25]:
from imblearn.over_sampling import SMOTE

In [26]:
sm = SMOTE(random_state=123)

In [27]:
x_bal, y_bal = sm.fit_resample(x,y)

In [28]:
x_bal.shape, y_bal.shape

((15926, 13), (15926,))

In [29]:
y.value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [30]:
x_train, x_test, y_train, y_test = train_test_split(x_bal,y_bal,test_size=0.25, random_state=123)

In [31]:
x_train.shape, x_test.shape

((11944, 13), (3982, 13))

In [32]:
y_train.shape, y_test.shape

((11944,), (3982,))

In [33]:
y_train.value_counts()

1    5973
0    5971
Name: Exited, dtype: int64

In [34]:
y_train

6012     0
11385    1
12848    1
15525    1
13323    1
        ..
12252    1
1346     0
11646    1
15725    1
3582     0
Name: Exited, Length: 11944, dtype: int64

In [46]:
ann = keras.Sequential([
    layers.Dense(500, activation='relu', kernel_initializer='uniform'),
    layers.Dense(200, activation = 'tanh'),
    layers.Dense(1, activation='sigmoid')
])

In [47]:
ann.compile(optimizer='adam', loss='binary_crossentropy',metrics = ['accuracy'])

In [48]:
ann.fit(x_train, y_train, epochs=100, use_multiprocessing=True)

Epoch 1/100
374/374 [==============================] - 3s 5ms/step - loss: 0.5654 - accuracy: 0.7070
Epoch 2/100
374/374 [==============================] - 2s 5ms/step - loss: 0.4860 - accuracy: 0.7689
Epoch 3/100
374/374 [==============================] - 1s 4ms/step - loss: 0.4617 - accuracy: 0.7785
Epoch 4/100
374/374 [==============================] - 2s 4ms/step - loss: 0.4538 - accuracy: 0.7848
Epoch 5/100
374/374 [==============================] - 2s 4ms/step - loss: 0.4500 - accuracy: 0.7851
Epoch 6/100
374/374 [==============================] - 2s 4ms/step - loss: 0.4432 - accuracy: 0.7896
Epoch 7/100
374/374 [==============================] - 1s 4ms/step - loss: 0.4355 - accuracy: 0.7947
Epoch 8/100
374/374 [==============================] - 1s 4ms/step - loss: 0.4304 - accuracy: 0.7985
Epoch 9/100
374/374 [==============================] - 2s 4ms/step - loss: 0.4231 - accuracy: 0.8012
Epoch 10/100
374/374 [==============================] - 1s 4ms/step - loss: 0.4242 - accuracy: 0.8034
Epoch 11/100
374/374 [==============================] - 2s 4ms/step - loss: 0.4150 - accuracy: 0.8057
Epoch 12/100
374/374 [==============================] - 1s 4ms/step - loss: 0.4130 - accuracy: 0.8068
Epoch 13/100
374/374 [==============================] - 2s 4ms/step - loss: 0.4112 - accuracy: 0.8129
Epoch 14/100
374/374 [==============================] - 1s 3ms/step - loss: 0.4077 - accuracy: 0.8112
Epoch 15/100
374/374 [==============================] - 2s 4ms/step - loss: 0.4027 - accuracy: 0.8129
Epoch 16/100
374/374 [==============================] - 2s 4ms/step - loss: 0.4028 - accuracy: 0.8147
Epoch 17/100
374/374 [==============================] - 1s 3ms/step - loss: 0.3987 - accuracy: 0.8161
Epoch 18/100
374/374 [==============================] - 2s 4ms/step - loss: 0.3966 - accuracy: 0.8191
Epoch 19/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3934 - accuracy: 0.8180
Epoch 20/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3902 - accuracy: 0.8195
Epoch 21/100
374/374 [==============================] - 2s 4ms/step - loss: 0.3905 - accuracy: 0.8225
Epoch 22/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3870 - accuracy: 0.8234
Epoch 23/100
374/374 [==============================] - 2s 4ms/step - loss: 0.3876 - accuracy: 0.8247
Epoch 24/100
374/374 [==============================] - 2s 4ms/step - loss: 0.3837 - accuracy: 0.8225
Epoch 25/100
374/374 [==============================] - 2s 4ms/step - loss: 0.3842 - accuracy: 0.8228
Epoch 26/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3799 - accuracy: 0.8265
Epoch 27/100
374/374 [==============================] - 2s 4ms/step - loss: 0.3767 - accuracy: 0.8286
Epoch 28/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3781 - accuracy: 0.8285
Epoch 29/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3712 - accuracy: 0.8318
Epoch 30/100
374/374 [==============================] - 2s 4ms/step - loss: 0.3761 - accuracy: 0.8268
Epoch 31/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3733 - accuracy: 0.8301
Epoch 32/100
374/374 [==============================] - 2s 4ms/step - loss: 0.3713 - accuracy: 0.8319
Epoch 33/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3693 - accuracy: 0.8331
Epoch 34/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3681 - accuracy: 0.8300
Epoch 35/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3663 - accuracy: 0.8352
Epoch 36/100
374/374 [==============================] - 2s 4ms/step - loss: 0.3664 - accuracy: 0.8341
Epoch 37/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3613 - accuracy: 0.8370
Epoch 38/100
374/374 [==============================] - 2s 4ms/step - loss: 0.3616 - accuracy: 0.8326
Epoch 39/100
374/374 [==============================] - 2s 4ms/step - loss: 0.3614 - accuracy: 0.8367
Epoch 40/100
374/374 [==============================] - 2s 4ms/step - loss: 0.3581 - accuracy: 0.8372
Epoch 41/100
374/374 [==============================] - 2s 4ms/step - loss: 0.3579 - accuracy: 0.8385
Epoch 42/100
374/374 [==============================] - 2s 4ms/step - loss: 0.3559 - accuracy: 0.8418
Epoch 43/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3569 - accuracy: 0.8420
Epoch 44/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3541 - accuracy: 0.8403
Epoch 45/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3545 - accuracy: 0.8407
Epoch 46/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3541 - accuracy: 0.8365
Epoch 47/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3539 - accuracy: 0.8409
Epoch 48/100
374/374 [==============================] - 2s 4ms/step - loss: 0.3526 - accuracy: 0.8401
Epoch 49/100
374/374 [==============================] - 2s 4ms/step - loss: 0.3501 - accuracy: 0.8426
Epoch 50/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3513 - accuracy: 0.8435
Epoch 51/100
374/374 [==============================] - 2s 4ms/step - loss: 0.3494 - accuracy: 0.8434
Epoch 52/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3477 - accuracy: 0.8434
Epoch 53/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3478 - accuracy: 0.8401
Epoch 54/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3446 - accuracy: 0.8444
Epoch 55/100
374/374 [==============================] - 2s 4ms/step - loss: 0.3449 - accuracy: 0.8454
Epoch 56/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3486 - accuracy: 0.8417
Epoch 57/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3457 - accuracy: 0.8466
Epoch 58/100
374/374 [==============================] - 2s 4ms/step - loss: 0.3450 - accuracy: 0.8449
Epoch 59/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3404 - accuracy: 0.8451
Epoch 60/100
374/374 [==============================] - 2s 4ms/step - loss: 0.3451 - accuracy: 0.8464
Epoch 61/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3436 - accuracy: 0.8444
Epoch 62/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3374 - accuracy: 0.8489
Epoch 63/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3400 - accuracy: 0.8463
Epoch 64/100
374/374 [==============================] - 2s 4ms/step - loss: 0.3397 - accuracy: 0.8475
Epoch 65/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3409 - accuracy: 0.8451
Epoch 66/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3392 - accuracy: 0.8451
Epoch 67/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3368 - accuracy: 0.8474
Epoch 68/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3379 - accuracy: 0.8489
Epoch 69/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3373 - accuracy: 0.8482
Epoch 70/100
374/374 [==============================] - 2s 4ms/step - loss: 0.3343 - accuracy: 0.8520
Epoch 71/100
374/374 [==============================] - 2s 4ms/step - loss: 0.3336 - accuracy: 0.8490
Epoch 72/100
374/374 [==============================] - 2s 4ms/step - loss: 0.3319 - accuracy: 0.8518
Epoch 73/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3303 - accuracy: 0.8519
Epoch 74/100
374/374 [==============================] - 2s 4ms/step - loss: 0.3307 - accuracy: 0.8512
Epoch 75/100
374/374 [==============================] - 2s 4ms/step - loss: 0.3313 - accuracy: 0.8518
Epoch 76/100
374/374 [==============================] - 2s 4ms/step - loss: 0.3321 - accuracy: 0.8504
Epoch 77/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3280 - accuracy: 0.8520
Epoch 78/100
374/374 [==============================] - 2s 4ms/step - loss: 0.3300 - accuracy: 0.8495
Epoch 79/100
374/374 [==============================] - 2s 5ms/step - loss: 0.3291 - accuracy: 0.8508
Epoch 80/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3303 - accuracy: 0.8495
Epoch 81/100
374/374 [==============================] - 2s 4ms/step - loss: 0.3271 - accuracy: 0.8524
Epoch 82/100
374/374 [==============================] - 2s 4ms/step - loss: 0.3318 - accuracy: 0.8526
Epoch 83/100
374/374 [==============================] - 2s 5ms/step - loss: 0.3265 - accuracy: 0.8547
Epoch 84/100
374/374 [==============================] - 2s 5ms/step - loss: 0.3254 - accuracy: 0.8530
Epoch 85/100
374/374 [==============================] - 2s 4ms/step - loss: 0.3259 - accuracy: 0.8531
Epoch 86/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3247 - accuracy: 0.8570
Epoch 87/100
374/374 [==============================] - 2s 4ms/step - loss: 0.3260 - accuracy: 0.8542
Epoch 88/100
374/374 [==============================] - 2s 4ms/step - loss: 0.3260 - accuracy: 0.8521
Epoch 89/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3231 - accuracy: 0.8545
Epoch 90/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3243 - accuracy: 0.8566
Epoch 91/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3252 - accuracy: 0.8553
Epoch 92/100
374/374 [==============================] - 2s 4ms/step - loss: 0.3229 - accuracy: 0.8534
Epoch 93/100
374/374 [==============================] - 2s 4ms/step - loss: 0.3230 - accuracy: 0.8541
Epoch 94/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3202 - accuracy: 0.8576
Epoch 95/100
374/374 [==============================] - 2s 4ms/step - loss: 0.3252 - accuracy: 0.8541
Epoch 96/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3217 - accuracy: 0.8566
Epoch 97/100
374/374 [==============================] - 2s 4ms/step - loss: 0.3222 - accuracy: 0.8557
Epoch 98/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3215 - accuracy: 0.8566
Epoch 99/100
374/374 [==============================] - 2s 4ms/step - loss: 0.3221 - accuracy: 0.8549
Epoch 100/100
374/374 [==============================] - 1s 4ms/step - loss: 0.3226 - accuracy: 0.8552

In [49]:
ann.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 500)               7000

 dense_10 (Dense)            (None, 200)               100200

 dense_11 (Dense)            (None, 1)                 201

=================================================================
Total params: 107,401
Trainable params: 107,401
Non-trainable params: 0
_________________________________________________________________

In [50]:
ann.evaluate(x_test, y_test)

125/125 [==============================] - 1s 4ms/step - loss: 0.4047 - accuracy: 0.8310

[0.40470579266548157, 0.8309894800186157]

In [51]:
yp = ann.predict(x_test)

In [52]:
yp[:10].reshape(-1,)

array([0.89291704, 0.6531733 , 0.9633107 , 0.918157  , 0.0529891 ,
       0.07171252, 0.7877283 , 0.39983243, 0.6240022 , 0.9888934 ],
      dtype=float32)

In [53]:
y_pred = []
for i in yp:
    if i > 0.5:
        y_pred.append(1)
    else:
        y_pred.append(0)

In [54]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.87      0.78      0.82      1992
           1       0.80      0.88      0.84      1990

    accuracy                           0.83      3982
   macro avg       0.83      0.83      0.83      3982
weighted avg       0.83      0.83      0.83      3982

In [55]:
confusion_matrix(y_test, y_pred)

array([[1553,  439],
       [ 234, 1756]], dtype=int64)